/* screen.css--styles for the screen */



body {
background-image: url('');
}


.construction p {
font-size: 250%;
color: red;
font-weight: bold;
}


div#page {
width: 950px;
margin-left: auto;
margin-right: auto;
background-color: #D6D6D6;
}

div#header {
position: relative;
width: 940px;
padding-left: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
background-color: #50A6C2;
}


div#header a {
text-decoration: none;
color: white;
}

div#header h1 {
font-size: 300%;
font-family: verdana, arial, "sans serif";
color: white;
}

div#header h2 {
font-size: 200%;
font-family: verdana, arial, "sans serif";
color: white;
}

div#navigation {
position: absolute;
width: 130px;
height: 420px;
padding-left: 10px;
background-color: #D6D6D6;
}

div#cv_navbar li {
display: inline;
position: relative;
margin: 2px;
text-align: right;
padding-left: 5px;
}

div#cv_navbar li + li {
padding-left: 15px;
}

div#cv_navbar {
position: relative;
margin-left: 160px;
height: 30px;
background-color: green;
}


div#intro {
position: relative;
width: 770px;
margin-left: 160px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}


div#content_wide {
position: relative;
width: 770px;
min-height: 500px;
margin-top: 20px;
padding-bottom: 20px;
margin-left: 160px;
padding-left: 10px;
padding-right: 10px;
background-color: #D6D6D6;
}

div#content_wide img {
border: 1px solid;
border-color: black;
}

div#content_wide img.single_image {
position: relative;
margin-left: 256px;
border: 1px solid;
border-color: black;
}



div#content_wide img.adobe {
border: none;
padding-top: 2px;
padding-right: 2px;
}

#front_content p {
padding-bottom: 10px
}

div#front_content h2 {
color: blue;
font-weight: bold;
font-size: 150%;
font-family: helvetica, arial, sans-serif;
}

div#front-content p {
color: black;
font-size: 100%;
font-family: "Times New Roman", serif;
}

div#narrow_content {
position: relative;
width: 520px;
min-height: 550px; /*adjust min-height if additional images run into the footer in #right_image_area*/
margin-top: 20px;
margin-bottom: 10px;
margin-left: 160px;
padding-left: 10px;
background-color: #D6D6D6;
}

/*can be grouped with #narrow_content*/
div#right_image_area { 
position: absolute;
margin-left: 700px;
margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
width: 230px;
background-color: #D6D6D6;
}


div#footer {
position: absolute;
padding-top:10px;
padding-left: 10px;
width: 940px;
min-height: 100px;
background-color: #50A6C2;
}

div#gallery_nav .left {
position: absolute;
margin-left: 5px;
}

div#gallery_nav .right {
position: absolute;
margin-left: 745px;
}

div#gallery_nav p {
position: relative;
width: 530px;
margin-left: 210px;
text-align: center;
}


div#gallery_return {
position: relative;
text-align: center;
margin-top: 20px;
}

div#gallery_img {
margin-top: 60px;
text-align: center;
}






